<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <img src="https://firebasestorage.googleapis.com/v0/b/montuosa-67aac.appspot.com/o/Logos%2Fmontuosalogo.png?alt=media&token=0ecf74cc-1481-403f-afc7-fecd8faacd26" width="30" height="30" class="d-inline-block align-top" alt="">
      Montuosa
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Inicio <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="paginas-web-page.component.html">Paginas Web</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Logotipos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Crea tu Marca</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Portafolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Servicios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Quienes Somos</a>
        </li>
  
      </ul>
    </div>
  </nav>
<router-outlet></router-outlet>