<!---------------------------------------------------------------------------------------------->

<link rel="stylesheet"  href="/montuosa/src/app/Components/home/home.component.css">

<!----------------------------BARRA DE NAVEGACION------------------------------------------------------------------>



<!---------------------BASE DE BARRA DE NAVEGACION------------------------------------------------------------------------->

<div class="jumbotron">
  <h1 class="display-4">Hola Mundo!</h1>
  <p class="lead">Montuosa es una Empresa dedicada a desarrollar tecnologias digitales para tu Negocio.</p>
  <hr class="my-4">
  <p>Si necesitas una Pagina Web y/o  Aplicacion Movil para tu negocio e incluso el diseño total de tu marca nosotros podemos ayudarte. Trabajemos Juntos!</p>
  <a class="btn btn-info" href="#" role="button" id="botonservicios">Ver Nuestros Servicios</a>
</div>
  



<!---------------------------------------------------------------------------------------------->


<div class="jumbotron1">
  <h3 class="negocio" id="salto">. </h3>
  <h3 class="negocio" >Crece tu Negocio </h3>

  <div class="card-deck">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Paginas Web</h5>
        <h1 class="card-text" id="descripcion-crecetunegocio">Aumenta tus ventas asi como  la accesibilidad de tu negocio y muestrale al mundo tus productos por medio de una pagina web. Tu presencia digital lo es todo.
        </h1>
      <img src="https://firebasestorage.googleapis.com/v0/b/montuosa-67aac.appspot.com/o/Home%20Page%2FPaginasWeb.jpg?alt=media&token=b0986ccf-a7dc-47da-a5ff-5417387f0ad1" class="card-img-top" alt="...">
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Logotipos</h5>
        <h1 class="card-text" id="descripcion-crecetunegocio">Tu Logotipo sera la primera imprecion que tendran tus clientes de ti. Un buen logotipo generara un gran impacto, y lograra que tus clientes siempre te reconozcan.
        </h1> 
      <img src="https://firebasestorage.googleapis.com/v0/b/montuosa-67aac.appspot.com/o/Home%20Page%2FDisenoLogos.jpg?alt=media&token=060e8155-2eee-4eca-a487-60042b5cfcbb" class="card-img-top" alt="...">
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Crea tu Marca</h5>
        <h1 class="card-text" id="descripcion-crecetunegocio">¿Deseas crear un negocio o mejorarlo y no sabes como tener una presencia digital? ,nosotros podemos ayudarte creando las herramentas  necesarias para sobresalir de tus competencias.
        </h1>
      <img src="https://firebasestorage.googleapis.com/v0/b/montuosa-67aac.appspot.com/o/Home%20Page%2FMarca.jpg?alt=media&token=7f36e463-78dc-43a0-b8f0-ea2df47210e3" class="card-img-top" alt="...">
      </div>
    </div>


  </div>
  <h3 class="negocio" id="salto">. </h3>
  <h3 class="negocio" id="salto">. </h3>
  
</div>


<!---------------------------------------------------------------------------------------------->

<div class="card mb-3" id="socialmedia">
  <img src="https://firebasestorage.googleapis.com/v0/b/montuosa-67aac.appspot.com/o/Home%20Page%2Ffrase.jpg?alt=media&token=a0177e01-f696-4477-93a2-5946758c5d39" class="card-img-top" alt="...">
  <div class="card-body">
    <h6 id="derechos">Todos los Derechos Reservados</h6>
  </div>
</div>

<!---------------------------------------------------------------------------------------------->


<router-outlet></router-outlet>