
#salto{
    color: #2A3340;
}



.jumbotron1{
    background-color:#2A3340;
    margin-top: -32px;
}

.trabajo{
    color:#F2F2F2; 
}

#negocio2{
    color:#F2F2F2;
    margin-left: 5px;
    text-align: center;
}

#botonservicios{
    background-color:#626973;
    border-color:#626973;
}

.card{
    background-color: #626973;
    margin-top:50px;
}



#socialmedia{
    margin-top: -10;
}

#ayudarte{
    text-align: center;
    color: #F2F2F2;
}






.card-title{
    color:#F2F2F2; 
    text-align: center;
    font-size: 25px;
}


#descripcion-crecetunegocio{
    font-size: 20px;
    color: white;
    text-align: center;
    -webkit-text-stroke: 0.6px black;
}

.negocio{
    font-size: 35px;
    text-align: center;
    color: #F2F2F2;
    font-size: 35px;
}

#derechos{
    text-align: center;
}