<!---------------------------------------------------------------------------------------------->

<link rel="stylesheet" type="text/css" href="/montuosa/src/app/app.component.css">

<!----------------------------BARRA DE NAVEGACION------------------------------------------------------------------>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="https://firebasestorage.googleapis.com/v0/b/montuosa-67aac.appspot.com/o/Logos%2Fmontuosalogo.png?alt=media&token=0ecf74cc-1481-403f-afc7-fecd8faacd26" width="30" height="30" class="d-inline-block align-top" alt="">
    Montuosa
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Inicio <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Proyectos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contactar</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Tengo un Negocio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Quienes Somos</a>
      </li>

    </ul>
  </div>
</nav>

<!---------------------BASE DE BARRA DE NAVEGACION------------------------------------------------------------------------->

<div class="jumbotron">
  <h1 class="display-4">Hola Mundo!</h1>
  <p class="lead">Montuosa es una Empresa dedicada a desarrollar tecnologias digitales para tu Negocio.</p>
  <hr class="my-4">
  <p>Si necesitas una Pagina Web y/o  Aplicacion Movil para tu negocio e incluso el diseño total de tu marca nosotros podemos ayudarte. Trabajemos Juntos!.</p>
  <a class="btn btn-info" href="#" role="button" id="botonservicios">Ver Nuestros Servicios</a>
</div>
  



<!---------------------------------------------------------------------------------------------->


<div class="jumbotron1">
  <h3 class="negocio" id="salto">. </h3>
  <h3 class="negocio" >Crece tu Negocio </h3>


  <div class="card-deck">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Paginas Web</h5>
        <h1 class="card-text" id="descripcion-crecetunegocio">¿Deseas abrir una barberia o mejorar el diseño de una ya existente? , nosotros podemos ayudarte</h1>
      <img src="https://firebasestorage.googleapis.com/v0/b/montuosa-67aac.appspot.com/o/Home%20Page%2FPaginasWeb.jpg?alt=media&token=b0986ccf-a7dc-47da-a5ff-5417387f0ad1" class="card-img-top" alt="...">
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Logotipos</h5>
        <h1 class="card-text" id="descripcion-crecetunegocio">Aumenta tus ventas y mejora el diseño para lograr una mejor presentacion de tu negocio.</h1> 
      <img src="https://firebasestorage.googleapis.com/v0/b/montuosa-67aac.appspot.com/o/Home%20Page%2FDisenoLogos.jpg?alt=media&token=060e8155-2eee-4eca-a487-60042b5cfcbb" class="card-img-top" alt="...">
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Aumenta tus Ventas</h5>
        <h1 class="card-text" id="descripcion-crecetunegocio">Desde tu Tienda en linea hasta el mejorar el aspecto de presentacion de tu Tienda en linea.</h1>
      <img src="https://firebasestorage.googleapis.com/v0/b/montuosa-67aac.appspot.com/o/Carrusel%2FRopa.jpeg?alt=media&token=6410891e-93ad-408c-814c-d877b01aa8a9" class="card-img-top" alt="...">
      </div>
    </div>


  </div>
  <h3 class="negocio" id="salto">. </h3>
  <h3 class="negocio" id="salto">. </h3>
  
</div>


<!---------------------------------------------------------------------------------------------->

<div class="card mb-3" id="socialmedia">
  <img src="https://firebasestorage.googleapis.com/v0/b/montuosa-67aac.appspot.com/o/Carrusel%2FRedesdoSociales.jpeg?alt=media&token=bfc41a9b-831f-4b80-a361-2fdf9017ca24" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Tus Redes Sociales</h5>
    <p class="card-text">Tus redes sociales son la primera imprecion que tendran tus clientes sobre ti. Un buen diseño lograra una  
     buena primera imprecion en nuevos Clientes.</p>
     <p  id="ayudarte">Nosotros Podemos Ayudarte.</p>
  </div>
</div>

<!---------------------------------------------------------------------------------------------->
  <router-outlet></router-outlet>