<!---------------------------------------------------------------------------------------------->

<link rel="stylesheet" type="text/css" href="/montuosa/src/app/app.component.css">

<!----------------------------BARRA DE NAVEGACION------------------------------------------------------------------>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="https://firebasestorage.googleapis.com/v0/b/montuosa-67aac.appspot.com/o/Logos%2Fmontuosalogo.png?alt=media&token=0ecf74cc-1481-403f-afc7-fecd8faacd26" width="30" height="30" class="d-inline-block align-top" alt="">
    Montuosa
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Inicio <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Proyectos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contactar</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Tengo un Negocio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Quienes Somos</a>
      </li>

    </ul>
  </div>
</nav>


<!---------------------BASE DE BARRA DE NAVEGACION------------------------------------------------------------------------->

<div class="jumbotron">
  <h1 class="display-4">Hola Mundo!</h1>
  <p class="lead">Montuosa es una Empresa dedicada a desarrollar tecnologias digitales para tu Negocio.</p>
  <hr class="my-4">
  <p>Si necesitas una Pagina Web y/o  Aplicacion Movil para tu negocio e incluso el diseño total de tu marca nosotros podemos ayudarte. Trabajemos Juntos!.</p>
  <a class="btn btn-info" href="#" role="button">Ver Nuestros Servicios</a>
</div>
  



<!---------------------------------------------------------------------------------------------->


<div class="jumbotron1">
  <h3 class="negocio">Tu Negocio</h3>
  <p class="lead">Una Mejor imagen de tu marca Aumentara tu Ventas y lograras tener una mejor Confianza con nuevos Clientes.</p>



  <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://firebasestorage.googleapis.com/v0/b/montuosa-67aac.appspot.com/o/Carrusel%2FBarberia.jpeg?alt=media&token=3fe9a4ee-a1d3-46e7-b482-181ff373c936" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://firebasestorage.googleapis.com/v0/b/montuosa-67aac.appspot.com/o/Carrusel%2FCafeteria.jpeg?alt=media&token=fad575dc-7e78-4d5f-9a3d-b28a74a3db84" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://firebasestorage.googleapis.com/v0/b/montuosa-67aac.appspot.com/o/Carrusel%2FComida.jpeg?alt=media&token=a8b15faf-f82c-42b7-bcf8-e0e56e391b5d" class="d-block w-100" alt="...">
      </div>
    </div>
  </div>


</div>
<!---------------------------------------------------------------------------------------------->



<!---------------------------------------------------------------------------------------------->
  <router-outlet></router-outlet>